---
import MainGridLayout from '@layouts/MainGridLayout.astro'
import { i18n } from '@i18n/translation'
import I18nKey from '@i18n/i18nKey'
import { getCategoryList } from '@utils/content-utils'
import CategoryCard from '@components/CategoryCard.astro'

const categories = await getCategoryList()

// Category metadata - add descriptions and images for your categories here
const categoryMeta: Record<string, { description?: string; image?: string }> = {
  'Android': {
    description: 'Android Shitty Shit and iOS Crap',
    image: 'https://i.redd.it/bagz0p8pz5wf1.jpeg'  // uncomment when you have an actual image
  },
  'Notes':{
    description: 'Shitty Notes',
    image: 'https://i.pinimg.com/564x/c9/f3/47/c9f347fdf88a81e35481b3f05bffffc7.jpg' 
  },
  'iOS':{
    description: 'iOS Crap',
    image: 'https://pentester.land/blog/vulnhub-drunk-admin-walkthrough/writeup_huea6912a67753ee943a8b7827fc4407cf_65193_800x450_resize_q75_h2_box_3.webp' 
},
'Windows':{
    description: 'Windows Crap',
    image: 'https://pentester.land/blog/vulnhub-drunk-admin-walkthrough/writeup_huea6912a67753ee943a8b7827fc4407cf_65193_800x450_resize_q75_h2_box_3.webp' 
},
    'CTF':{
    description: 'CTF Crap',
    image: 'https://pentester.land/blog/vulnhub-drunk-admin-walkthrough/writeup_huea6912a67753ee943a8b7827fc4407cf_65193_800x450_resize_q75_h2_box_3.webp' 
}

}

let delay = 0
const interval = 50
---

<MainGridLayout title={i18n(I18nKey.categories)}>
    <div class="transition flex flex-col rounded-[var(--radius-large)] bg-[var(--card-bg)] py-1 md:py-0 md:bg-transparent md:gap-4 mb-4">
        {categories.map((category) => {
            const meta = categoryMeta[category.name] || {}
            return (
                <CategoryCard
                    name={category.name}
                    count={category.count}
                    description={meta.description}
                    image={meta.image}
                    class:list="onload-animation"
                    style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
                />
            )
        })}
    </div>
</MainGridLayout>
